body{
 margin:0;
 font-family:Segoe UI;
 background:#f4f4f4;
}
.hero{
 background:linear-gradient(120deg,#4f46e5,#9333ea);
 color:white;
 padding:40px;
 text-align:center;
}
nav a{
 color:white;
 text-decoration:none;
 margin:0 15px;
 font-weight:600;
}
.cards{
 display:flex;
 justify-content:center;
 gap:25px;
 padding:40px;
}
.card{
 background:white;
 width:260px;
 padding:20px;
 border-radius:15px;
 text-align:center;
 box-shadow:0 10px 20px rgba(0,0,0,0.2);
 transition:0.3s;
}
.card img{
 width:60px;
 margin-bottom:10px;
}
.card:hover{
 transform:translateY(-10px);
}
footer{
 background:#111827;
 color:white;
 text-align:center;
 padding:12px;
}

/* Responsive */
@media(max-width:768px){
 .cards{
  flex-direction:column;
  align-items:center;
 }
 nav a{
  display:block;
  margin:10px 0;
 }
}
