body{
    margin:0;
    font-family: 'Segoe UI',sans-serif;
    background:#f5f7fb;
}
.hero{
    background:linear-gradient(135deg,#4f46e5,#9333ea);
    color:white;
    padding:40px;
    text-align:center;
}
nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-weight:600;
}
.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
}
.card{
    background:white;
    width:250px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition:0.3s;
}
.card:hover{ transform:translateY(-10px); }
footer{
    background:#111827;
    color:white;
    text-align:center;
    padding:15px;
}
