.app {
  text-align: center;
  margin-top: 80px;
}

input {
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 12px;
  background: #4facfe;
  border: none;
  color: white;
}

.card {
  background: #f1f1f1;
  padding: 20px;
  width: 250px;
  margin: 20px auto;
  border-radius: 10px;
}
